body{
  margin: 20px auto;
  background:#242e3b;
  font-family:"Open Sans", sans-serif;
}

h1{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  font-family:"Open Sans", sans-serif;
  font-weight:600;
  font-style: italic;
  color: #fff;
  font-size: 77px;
}

h2{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  color: #fff;
  font-size: 40px;
}

h6{
  color: #6a9a9b;
  margin: 20px auto;
  font-size: 37px;
  display: inline-flex;
}

.container{
  margin: 0px auto;
  padding: 10px 200px 0px 50px;
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  flex-direction: row;
  width: auto 0px;
  margin: 20px;
}

.dottedCircle{
  border-radius: 50%;
  border: dashed;
  border-color: #ffffff;
  height: 201px;
  width: 201px;
  color: white;
  padding: 0;
  margin: 10px auto;
}

.rotateCircleIn{
  transform: rotate(90deg);
  transition: 1s all ease;
}

.rotateCircleOut{
  transform: rotate(0deg);
  transition: 1s all ease;
}

.rotateChildIn{
  transform: rotate(-90deg);
  transition: 1s all ease;
}

.rotateChildOut{
  transform: rotate(0deg);
  transition: 1s all ease;
}

#rock{
  border-radius: 50%;
  border: none;
  background-color: #ca4087;
  background-image: url("img/Rock-Still.png");
  height: 145px;
  margin: 28px 28px;
  width: 145px;
  padding: 0;
  display: block;
}

#rock:hover{
  background-image: url("http://i.imgur.com/f9Uu8YJ.gif");
  cursor: pointer;
}

#rock:focus{
  outline: none;
}

#paper{
  border-radius: 50%;
  border: none;
  background-color: #40cac5;
  background-image: url("img/Paper-Still.png");
  height: 145px;
  margin: 28px 28px;
  width: 145px;
  padding: 0;
  display: block;
}

#paper:hover{
  background-image: url("http://i.imgur.com/lfjeNlH.gif");
  cursor: pointer;
}

#paper:focus{
  outline: none;
}

#scissors{
  border-radius: 50%;
  border: none;
  background-color: #cac240;
  background-image: url("img/Scissor-Still.png");
  height: 145px;
  margin: 28px 28px;
  width: 145px;
  padding: 0;
  display: block;
}

#scissors:hover{
  background-image: url("http://i.imgur.com/zCaXT6N.gif");
  cursor: pointer;
}

#scissors:focus{
  outline: none;
}

.winningText{
    display: none;
    color: #65ffb2;
    flex-direction: row;
    margin-bottom: -95px;
}

.losingText{
    display: none;
    color: #ff65b2;
    flex-direction: row;
    margin-bottom: -95px;
}

.tiedText{
  display: none;
  flex-direction: row;
  color: white;
  margin-bottom: -95px;
}

.score{
  display: flex;
  align-items: center;
}

.counterContainer{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
